@using Abudantia.Models

<div class="card">
    <img src="@product.ImageLink" class="card-img-top" />

    <div class="card-body">
        <h5 class="card-title text-center">@product.Name</h5>
        <p class="card-text">@product.Description</p>
    </div>
    <div class="d-flex justify-content-around mb-5">
        <h3 >@product.Price руб. </h3>
        <a href="#" class="btn btn-primary">В корзину</a>
    </div>

</div>
@code {
    [Parameter]
    public Product product { get; set; } = null!;
}
